.contact_global{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 150px;
  
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*margin-right: 350px;*/
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    height: 50px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.maps{
    width: 910px;
    height: 480px;
    box-shadow: 8px 8px 10px rgb(236, 230, 230);
    border-radius: 5px;
    margin: auto;
    margin-top: 1000px;
    display: block;
  }

.social-media{
display: inline-block;
margin-left: 500px;
justify-content:space-between;
}
.btn {
    background-color: rgb(206, 0, 51);
    color:white;
    border: 2px solid rgb(206, 0, 51);
    width: 455px;
    height: 35px;
    margin-bottom: 20px;
    transition: all 1s;
  }
  
.btn:hover {
    background-color: white; 
    color:  black; 
}
textarea{
  width: 90%;

}


body{
    /*background-image: url();*/
    background-repeat: no-repeat;
    background-size: 100%;
    height:500px;
}
form {
  display: flex;
   flex-direction: column;
   align-items: flex-start;
    background:white ;
    color: rgb(104, 15, 15);
    /*border:rgb(206, 0, 51) solid 1px;*/
    border:rgb(209, 203, 204) solid 1px;
    position:relative;
    margin-top:100px;
    padding-top: 50px;
    width:500px;
    margin-left:80px;
    /*border-radius: 20px;*/
    padding-left: 20px;
    font-size: 20px;
    /*padding-bottom: 70px;*/
   /* height: 700px;*/
   box-shadow: 5px 5px 6px #DDD;

}

input {
 /* background-color: rgb(245, 235, 235);*/
   border: none;
  border-bottom:rgb(206, 0, 51) solid 2px; 
  /*color: white;*/
  padding: 8px 10px;
  /*border: none;*/
  border-radius: 4px;
  cursor: pointer;
  float: left;
  height: 25px;
  width: 90%;
}
.custom-select{
  border:none;
  border-bottom:rgb(206, 0, 51) solid 2px;
  width: 450px; 
  height: 25px;
  margin-bottom: 20px;
  background: none;
}

.selected:hover{
background: rgb(206, 0, 51);
}

.radio{
/*margin-right:50px;*/
display: flex;
flex-direction: row;
width: 100%;

}
.radio div{
  display: flex;
  width:200px;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.lab1{
  width: 400px;
}
label{
  color:black;
  font-size: 16px;
 /* text-decoration: underline;*/

}




.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    margin-top: 1000px;
    padding-bottom: 550px;
}

.map-responsive iframe{
    left:0;
    top:0;
   
    width:100%;
    position:absolute;
}
.fab{
  color: #bb0000;
}
.contact2{
  
  /*border: solid 2px #bb0000; */
  /*height: 550px;*/
  margin-top:170px;
  width: 450px;
  box-shadow: 5px 5px 6px #DDD;
  margin-left:50px;
  background-color:rgb(206, 0, 51);
}
img{
  margin-top: 50px;
  width:20px;
  margin-right: 10px ;
}
li{
  /*margin-right: 30px ; */
  color: #DDD;
  text-align: left;
}
ul{
  list-style-type: none;
}
h6{
  color:black;
  margin-top:10px;
 align-items: center;
}
p{
  color: gray;
  font-size: 10px;
  text-align: left;
  
}
h4{
  color: #DDD;
}

h3{
  color:white;
}