.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 80px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(247, 10, 10);
    color: black;
  }
  
  .topnav a.active {
    background-color: gray;
    color: white;
  }