.footer1{
    background-color: rgb(206, 0, 51);
    
}
.col{
    width: 350px;
    color :black;
    box-shadow: 8px 8px 10px rgb(206, 0, 51);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.container{
    padding-top: 20px;
}
p{
    color: #999;
    line-height:25px;
    font-size: 20px;

}
h2,h3{
    color:white;
}
h2{
    font-size: 18px;
}
.button3 {
    width: 300px;
    height: 40px;
    background-color: white; 
    color: rgb(206, 0, 51); 
    font-size: 16px;
    border: 4px solid rgb(206, 0, 51);
  }
  
  .button3:hover {
    background-color: rgb(206, 0, 51);
    color: white;
  }
.social-media{
    float: left;
}
input {
    /* background-color: rgb(245, 235, 235);*/
      border: none;
     border-bottom:rgb(206, 0, 51) solid 2px; 
     /*color: white;*/
     padding: 8px 10px;
     /*border: none;*/
     border-radius: 4px;
     cursor: pointer;
     float: left;
     height: 25px;
     width: 90%;
   }
   form{
       margin-right: 200px;
       background-color: none;
   }

ul li a {
    text-decoration: none;
    color: ivory;
    font-size: 25px;
  }
.footer-top{
 /*  background: #8f2517;*/
    background: #fff;
    
}
.segment-one h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #8f2517;
    letter-spacing: 3px;
    margin:10px 0;
}

.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right:10px;

}
.segment-two ul{
    margin:0;
padding:0;
list-style:none;
}
.segment-two ul li {
    
    border-bottom: 1px solid #8f2517;
line-height: 40px ;

}

.segment-two ul li a {
    color: rgb(189, 189, 189);
    text-decoration: none;
}
.segment-three h2{
    color: ##8f2517;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right:10px;

}
.segment-three a img {
  /*  background: #494848;*/
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i {
    font-size :20px;
    color:#fff;
    padding:10px 12px ;
    
}
.segment-four h2{
    color: ##8f2517;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right:10px;

}
.segment-four form input [type=submit]{
    background: #c65039;
    border: none;
    padding : 3px 15px ;
    margin-left:-5px;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom-text{
    text-align:center;
    background:#2e0803;
    line-height: 35px;
}